@import url("https://fonts.googleapis.com/css2?family=Caveat");

body {
  background-color: #11131e;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  /* background-color: #11131e; */
}

.picture {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #fff;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  user-select: none;
  cursor: pointer;
}

.picture-img {
  display: block;
  width: 300px;
  height: 300px;
  pointer-events: none;
}

.picture-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 70px;
  padding: 12px 24px;
  font-size: 1.5rem;
  text-align: center;
}

a:-webkit-any-link {
  text-decoration: none;
  color: #000000;
}

a:-webkit-any-link:hover {
  text-decoration: underline;
}

.social {
  display: inline-block;
  padding: 0 5px;
}

.social img {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
}

.fa-brands:hover {
  color: #b7b7b7;
  transition: 0.5s;
}

/* ------------------------- */
/* Other style               */
/* ------------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Caveat', serif;
  overflow: hidden;
}
